#container {
    width: 500px;
    height: 500px;
    background-color: green;
}
.grid {
    background-color: black;
    height: 12.5%;;
    width: 12.5%;
    float: left;
}

#buttons {
    width: auto;
    height: 100px;
}

button {
    height: 44px;
    width: 100px;
    margin-bottom: 25px;
    margin-right: 10px;
}

